# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^coach/list/$   RestController.php?page_key=list [nc,qsa]
RewriteRule ^coach/list$   RestController.php?page_key=list [nc,qsa]

RewriteRule ^coach/create/$   RestController.php?page_key=create [L]
RewriteRule ^coach/create$   coach/create/ [L,R=301]

RewriteRule ^coach/delete/([0-9]+)/$   RestController.php?page_key=delete&id=$1 [L]
RewriteRule ^coach/delete([0-9]+)$   coach/delete/$1 [L,R=301]

#RewriteRule ^coach/update/([0-9]+)/$   RestController.php?page_key=update&id=$1 [L]
#RewriteRule ^coach/update/([0-9]+)$   coach/update/$1/ [L,R=301]

RewriteRule ^coach/update/$   RestController.php?page_key=update [L]
RewriteRule ^coach/update$   coach/update [L,R=301]